:root {}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: #678;
  color: #eef;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  background-color: #dee;
  padding: 2rem;
}

.flex-group {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.5rem;
  text-transform: uppercase;
}

pre {
  background-color: #345;
  color: #eee;
  line-height: 2.5;
  padding: 0 2rem;
}