:root {}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #334;
  color: #bbc;
  line-height: 2;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  /*background-color: lightcoral;*/
  background-color: #16191f;
  color: #bbc;
  padding: 2rem;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
  flex-direction: column;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }  
}

.header-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.header-links a {
  filter: opacity(0.5);
  transition: filter 250ms;
}

.header-links a:hover {
  filter: opacity(1.0);
}

footer {
  justify-content: center;
}

main {
  flex: 1;
  padding: 2rem;
  width: calc(100% - 4rem);
  max-width: 1080px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
}

h1 {
  font-size: 150%;
  color: #478;
}

h2, h3, h4 {
  padding: 1rem 0;
}

h3 {
  border-bottom: 2px solid #bbc;
  padding: 1rem 0;
}

h4 {
  border-bottom: 4px dotted #bbbbcc66;
  padding: 1rem 0;
}

h4 {
  margin: 0;
}

h5 {
  text-align: right;
}

button {
  padding: 0.5rem;
  text-transform: uppercase;
}

.row {
  margin: 1rem 0 2rem 0;
}
.column {
  padding: 1rem;
}

.column.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

@media (min-width: 768px) {
  .column.description {
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
  }  
}

.column.code {
}

pre, code {
  background-color: #222;
  color: #eee;
}

pre {
  line-height: 2.0;
  padding: 1rem;
  overflow-x: auto;
  margin: 0;
  border: 5px solid #478;
  border-radius: 0.75rem;
  filter: opacity(0.5);
  transition: filter 250ms;
}

pre:hover {
  filter: opacity(1.0);
}

code {
  padding: 0.25rem 0.35rem;
  margin: 0 0.1rem;
  border-radius: 0.33rem;
  border: 1px solid #478;
}

button {
  background-color: #478;
  border: 0;
  border-radius: 0.4rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2)) brightness(0.8);
  transform: scale(1.0);
  transition: filter 250ms, transform 150ms;
}

button:hover {
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.2)) brightness(1.0);
  transform: scale(1.05);
}