:root {}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #334;
  color: #bbc;
  line-height: 2;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: darksalmon;
  color: #222;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
}

main {
  flex: 1;
  padding: 2rem;
  width: calc(100% - 4rem);
  max-width: 1080px;
  margin: auto;
}

h2 {
  border-bottom: 1px solid #bbc;
  padding: 1rem 0;
}

h3 {
  margin: 0;
}

button {
  padding: 0.5rem;
  text-transform: uppercase;
}

.row {
  margin: 1rem 0;
}
.column {
  padding: 1rem;
}

.column.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.column.code {
}

pre, code {
  background-color: #222;
  color: #eee;
}

pre {
  line-height: 2.0;
  padding: 1rem;
  overflow-x: auto;
  margin: 0;
  border: 5px solid #69a;
  border-radius: 0.75rem;
  filter: opacity(0.75);
  transition: filter 250ms;
}

pre:hover {
  filter: opacity(1.0);
}

code {
  padding: 0.25rem 0.35rem;
  margin: 0 0.1rem;
  border-radius: 0.5rem;
  border: 2px solid #69a;
}